@import '../../mixins';

.newalbum {

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__container {
    @include bp(bp-medium-2) {
      align-self: stretch;
      display: flex;
    }
  }

  &__scrollers {
    display: none;

    @include bp(bp-medium-2) {
      display: block;
    }
  }

  &__title {
    margin: 4rem 0 0 0;
    font-size: 2.2rem;

    @include bp(bp-medium-2) {
      margin: 2rem 0 2rem 2rem;
      align-self: start;
    }
  }

  &__cards {

    @include bp(bp-medium-2) {
      align-self: stretch;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      overflow-x: scroll;
      grid-auto-flow: column;
      scrollbar-width: none;
      margin-bottom: 0;
      padding-bottom: 0;
      scroll-snap-type: x proximity;


      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--space {
      margin: 4rem 0;
      transition: all .2s;

      @include bp(bp-medium-2) {
        margin: 0;
      }


      &:hover {
        transform: scale(1.1);

        @include bp(bp-largest) {
          transform: scale(1);
        }
      }
    }

  }
}
