.newalbum {

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    margin: 4rem 0 0 0;
    font-size: 2.2rem;
  }

  &__cards {
    &--space {
      margin: 4rem 0;
      transition: all .2s;

      &:hover {
        transform: scale(1.1);
      }
    }

  }
}