.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 2rem;
}

.media {
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 1.5rem;

  &__img {
    border-radius: 1.5rem;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.user {
  font-size: 1.4rem;

  &__name {
    text-transform: uppercase;
    font-weight: 400;
  }

  &__email {}
}

.controls {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__notification {
    margin-right: 1rem;
  }

  &__settings {}
}