@import '../../mixins.scss';

.categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.5rem;
  text-align: center;
  font-weight: 600;

  @include bp(bp-large) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include bp(bp-small) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include bp(bp-smallest) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__container {
    position: relative;
    overflow: hidden;
    transition: all .4s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__media {

    &__img {
      border-radius: 1rem;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__title {
    position: absolute;
    color: var(--color-white);
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}