.topchart-container {
  display: flex;
  flex-direction: column;
}

.topchart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin: 3rem 1rem;
}

.topchart-heading {
  margin-right: 2rem;
}


.charts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: .5rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scrollers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  margin-left: 1.7rem;
}

.icons {
  width: 100%;
  height: 100%;
  color: var(--color-primary-light-2);

  &:hover {
    color: var(--color-green);
  }
}