@import '../../mixins';

.playlist {
  &__container {
    background-color: var(--color-white);
  }

  &__header {
    margin: 2rem;
    margin-top: 4rem;
    text-transform: capitalize;

    @include bp(bp-medium-2) {
      margin-top: 2rem;
    }

    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      color: var(--color-primary-light-2);
    }
  }
}
