.card {
  flex: 0 0 auto;
  margin: 0 2rem;

  &__imgContainer {
    margin-top: 2rem;
    width: 22rem;

    &__img {
      display: block;
      width: 100%;
      object-fit: cover;
      background-size: cover;
      overflow: hidden;
      border-radius: var(--border-radius);
    }
  }

  &__content {
    margin: 1rem 0;

    &__title {
      font-weight: 700;
    }
  }
}