@import '../../mixins.scss';

.search {
  // width: 40rem;
  // width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;


  &__input {
    width: 90%;
    border: none;
    border-radius: var(--border-radius);
    padding: 1.2rem 2rem;
    // margin: 2rem 0;
    background-color: var(--color-primary-light-1);
    font-family: inherit;
    font-size: 1.4rem;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      width: 100%;
      outline: none;
      border: none;

      @include bp(bp-medium-2) {
        width: 90%;
      }
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-primary-light-2);
    }
  }

  &__button {
    border: none;
    outline: none;
    background-color: var(--color-primary-light-1);
    transition: all .2s;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    display: block;
    color: var(--color-primary-light-2);
    transition: all .2s;
  }

  &__button:hover &__icon {
    color: var(--color-green);
  }

}