.song {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  margin: 1.7rem 1rem;
  border-radius: 2rem;
  background-color: var(--color-primary-light-1);

  &:hover {
    background-color: var(--color-green);
  }

  &:hover &__meta-content {
    color: var(--color-primary)
  }

  &__details {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
  }

  &__meta-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary-light-2);
  }

  &__imgCont {
    margin-right: 2rem;
    width: 5rem;

    &__img {
      display: block;
      width: 100%;
      object-fit: cover;
      border-radius: 1.5rem;
    }
  }

  &__artist {
    font-weight: 400;
    margin-right: .5rem;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__duration {
    margin-right: 3rem;
  }

  &__fav {
    margin-left: 3rem;
    display: flex;
    align-items: center;

    &:hover {
      color: red;
    }

    &--filled {
      color: red;
    }
  }

  &__analyse {
    &:hover {
      color: red;
    }
  }
}