.song {
  display: grid;
  grid-template-columns: max-content repeat(2, 1fr) max-content;
  margin: 1.7rem 1rem;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  background-color: var(--color-primary-light-1);
  transition: all .2s;

  &:hover {
    background-color: var(--color-green);
  }

  &:hover &__meta {
    color: var(--color-primary)
  }

  &:hover &__artist {
    color: var(--color-primary)
  }

  &__imgCont {
    display: flex;
    margin-right: 2rem;
    width: 5rem;

    &__img {
      display: block;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1px;
  }

  &__artist {
    display: flex;
    align-items: center;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1px;
    margin-right: 1rem;
    color: var(--color-primary-light-2);
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 1.5rem;
    color: var(--color-primary-light-2);
  }
}

.meta {

  &__duration {
    margin-right: 2rem;
  }

  &__analyse {
    margin-right: 2rem;

    &:hover {
      color: red;
    }
  }

  &__like {

    &--filled {
      color: red;
    }
  }
}