@import '../../mixins.scss';

.navbar {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @include bp(bp-large) {
    margin-top: 1rem;
  }

  &__item {
    transition: all .3s;

    @include bp(bp-large) {
      margin-right: 2.5rem;
    }

    @include bp(bp-small) {
      margin-right: 1.5rem;
    }

    &:hover {
      backface-visibility: hidden;
      transform: rotate(2deg) scale(1.1);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .05);
    }
  }

  &__link {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;

    &:hover {
      color: var(--color-green);
    }
  }
}