.result {

  &__header {
    font-size: 3rem;
    margin: 1rem;
  }

  &__albums {
    padding: 1rem;

    &__list {
      overflow-y: hidden;
      display: flex;
      overflow-x: scroll;
    }
  }

  &__songlist {
    padding: 1rem;

    &__list {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 50vh;
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
    }
  }
}