.result {

  &__header {
    font-size: 3rem;
    margin: 1rem;
  }

  &__albums {
    padding: 1rem;

    &__list {
      overflow-y: hidden;
      display: flex;
      overflow-x: scroll;
      scrollbar-width: none;
      margin-bottom: 0;
      padding-bottom: 0;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__songlist {
    padding: 1rem;

    &__list {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 50vh;
    }
  }
}