@import '../../mixins';

.main {

  &__content {
    display: flex;
    padding: 1rem;
  }

  &__toptracks {
    flex: 0 0 70%;

    @include bp(bp-medium) {
      // flex: 0 0 50%;
    }
  }

  &__comingsoon {
    flex: 1;
  }
}