@import '../../mixins';

.main {

  &__content {
    display: flex;
    padding: 1rem;

    @include bp(bp-medium-2) {
      flex-direction: column;
    }

    @include bp(bp-medium-2) {
      padding: .2rem;
    }
  }

  &__toptracks {
    flex: 0 0 70%;

    @include bp(bp-large) {
      flex: 0 0 80%;
    }

    @include bp(bp-large) {
      flex: 0 0 78%;
    }
  }

  &__comingsoon {
    flex: 1;

    @include bp(bp-large) {
      margin-right: 1rem;
    }

    @include bp(bp-medium-2) {
      margin-right: 0;
      // order: 2;
    }
  }
}