.container {
  display: flex;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  padding: 4rem;
  min-height: 100vh;
}

.sidebar {
  flex: 0 0 25%;
  border-radius: 2rem;
  margin-right: 3rem;
}

.mainContent {
  flex: 1;
  border-radius: 2rem;
  background-color: var(--color-white);
  overflow: hidden;
}

.main {

  &__content {
    display: flex;
    padding: 1rem;
  }

  &__toptracks {
    flex: 0 0 70%;
  }

  &__comingsoon {
    flex: 1;
  }
}