.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.75rem;
  margin-bottom: 4rem;

  &__title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  &__link {
    text-decoration: none;
    color: currentColor;
  }

  &__heart {
    margin-right: .7rem;
    color: var(--color-green);
    transition: all .5s;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }

  &__username {
    display: inline-block;
    margin: 0 .7rem;
    color: var(--color-green);
    transition: all .3s;
    cursor: pointer;

    &:hover {
      backface-visibility: hidden;
      transform: rotate(2deg) scale(1.1);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .05);
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }
}



.btn-github {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-right: 2rem;
}

.logo {
  display: block;
}


// Animations
@keyframes heartbeat {
  from {
    transform: scale(1.05);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }

  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }

  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }

  45% {
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
}