@import '../../mixins';

.player {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: 4rem;
  text-align: center;

  @include bp(bp-largest) {
    padding: 2rem;
  }


  &__image__container {
    align-self: center;
    width: 30rem;
    height: 22rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 2rem;

    @include bp(bp-largest) {
      width: 25rem;
      height: 16rem;
    }

    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    text-transform: capitalize;
  }

  &__subtitle {
    color: var(--color-primary-light-2)
  }


  &__time {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-primary-light-2)
  }

  &__control {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;


    &__play {
      background-color: black;
      position: relative;
      width: 17rem;
      height: 17rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 5;

      @include bp(bp-largest) {
        width: 14rem;
        height: 14rem;
      }

      &::before {
        position: absolute;
        content: '';
        background-color: red;
        width: 60%;
        height: 60%;
        border-radius: 50%;
        z-index: -2;
      }
    }
  }

  &__animate {
    animation: rotate 2s linear infinite;
  }

  &__progress {
    -webkit-appearance: none;
    border-radius: 2rem;
    background-color: var(--color-primary-light-1);
    width: 100%;
    height: .7rem;
    margin-bottom: 1rem;

    &:focus {
      border: none;
      outline: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: red;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 50%;
      background: red;
      cursor: pointer;
    }
  }

  &__icon {
    transition: all .5s;

    &__pause,
    &__play {
      width: 3.5rem;
      height: 3.5rem;
      color: rgba($color: #ffffff, $alpha: .9);
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.miniPlayer {
  &__meta {}

  &__meta {
    &__img {}
  }

  &__name {
    &__title {}

    &__subtitle {}
  }

  &__controls {}

  &__buttons {}

  &__icon {

    &__play {}

    &__pause {}
  }
}