.browse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;

  &__mainTitle {
    font-size: 3rem;
    font-weight: 900;
    margin-right: 2rem;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.btn-container {
  padding: 1rem 5rem;
  align-self: stretch;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-view {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  font-family: inherit;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  transition: all .2s;
  background-color: var(--color-green);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}