@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
  --color-primary: rgb(16, 29, 44);
  --color-primary-light-1: rgb(250, 247, 245);
  --color-primary-light-2: rgb(170, 170, 170);
  --font-primary: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}


body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--color-primary-light-1);
  color: var(--color-primary);

  min-height: 100vh;
}